
#fontColorBlack {
    background-color: #333;
    color: #fff;
}

#fontColorGreen {
    background-color: green;
    color: #333;
}

#bgColorBlack {
    background-color: #333;
    color: #fff;
}

#bgColorGreen {
    background-color: green;
    color: #333;
}